/.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/vendor/*
!/public/vendor/.gitkeep
/var/
/vendor/
/layout/
###< symfony/framework-bundle ###
