{% extends 'email/base_email.html.twig' %}

{% block content %}
    <p class="paragraph">Добрый день, {{ email.toName }}, для завершения регистрации подвердите електорнною почту.</p>
    <center>
        <center class="verify-button-center">
            <a class="verify-link" href="{{ url('app_verify_email', { verificationCode: verification_code }) }}" target="_blank">Подтвердить почту</a>
        </center>
    </center>
    <p class="paragraph">Не сработало? Перейдите по ссылке ниже. <br />
        <a class="link" href="{{ url('app_verify_email', { verificationCode: verification_code }) }}" target="_blank">{{ url('app_verify_email', { verificationCode: verification_code }) }}</a>
    </p>
{% endblock %}